<!--<router-outlet></router-outlet>-->
<button (click)="onPrivate()" class="btn btn-primary">Send a private request</button>
<br>
<br>
<button (click)="onPublic()" class="btn btn-success">Send a public request</button>
